[submodule "compose"]
	path = compose
	url = ./compose
[submodule "docker-liquibase"]
	path = docker-liquibase
	url = ./docker-liquibase
[submodule "postgres"]
	path = postgres
	url = ./postgres
[submodule "ruby-arm64/ruby"]
	path = ruby-arm64/ruby
	url = git@github.com:jelazos7/ruby.git
